---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Panserklub Danmark">
  <section class="grid gap-4 lg:grid-cols-2 py-8">
    <img
      src="/images/panserklub-forside.png"
      alt=""
      class="w-full max-w-lg object-contain p-8 justify-self-center"
    />
    <div class="grid gap-4 p-4">
      <h1>Panserklub Danmark</h1>
      <p>
        Dette er en meget simpel webside. Det fleste af vores onlineaktiviteter
        kører vi gennem vores facebookside
      </p>
      <p>
        This is a super simple webpage. Most of our online activities are
        presented on our facebook page
      </p>
      <p>
        Første halvdel af sæsonen ved Panzermuseum East er næsten overstået og
        en travl tid venter efter sommerferien. <br /> Læs mere i kalenderen Vi har
        startet på et register over kendte modeller af køretøjer og kampvogne i 1/16.
        <br /> Se mere under det nye punkt "diverse"
      </p>
    </div>
  </section>
</Layout>
