---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Om klubben">
  <section class="grid gap-4 lg:grid-cols-2 py-8">
    <img
      src="/images/om-klubben.jpg"
      alt=""
      class="w-full max-w-lg object-contain p-8 justify-self-center"
    />
    <div class="grid gap-4 p-4">
      <h1>Panserklub Danmark</h1>
      <p>
        En hyggelig græsrodsbevægelse - eller rettere vi hygger os mens vi
        sætter græsrødderne i bevægelse.
      </p>
      <p>
        Panserklub Danmark er et interessefællesskab for folk som interesserer
        sig for radiostyrede modeller i skala 1/16
      </p>
      <p>
        Det startede med kampvogne - deraf Panserklub - men har efterhånden
        udviklet sig til meget mere end det. <br /> Det eneste, der ikke ændrer sig,
        er at vi hygger os
      </p>
    </div>
  </section>
</Layout>
