---

---

<footer class="bg-accent text-secondary px-8 py-4">
  <ul class="grid gap-4">
    <li>
      Email:
      <a href="mailto:panserklub@panserklub.dk"> panserklub@panserklub.dk </a>
    </li>
    <li>
      Facebook: <a href="https://www.facebook.com/panzerclubdanmark"
        >@panzerclubdanmark</a>
    </li>
  </ul>
</footer>
